Source: fonts-lato
Section: fonts
Priority: optional
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Uploaders: Vasudev Kamath <vasudev@copyninja.info>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.latofonts.com
Vcs-Git: https://anonscm.debian.org/cgit/pkg-fonts/fonts-lato.git
Vcs-Browser: https://anonscm.debian.org/git/pkg-fonts/fonts-lato.git

Package: fonts-lato
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6~)
Multi-Arch: foreign
Description: sans-serif typeface family font
 This package provides sans-serif typeface family font designed by
 Lukasz Dziedzic. ("Lato" means "Summer" in Polish). These fonts are
 published by author's foundry tyPoland under terms of Open Font License.

